*.class
*.log

# Play framework specific
logs
project/project
project/target
project/.sbtserver*
.sbtserver
RUNNING_PID

tmp

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.idea
.scala_dependencies
.worksheet

# JS
node_modules
public/javascripts/bundle.js

