body {
    font-family: Helvetica, Arial, sans-serif;
}

label, input {
    display: block;
}

.fight_selector {
    background-color: #888888;
    float: left;
    margin: 5px;
    margin-top: 60px;
    padding: 15px;
    padding-top: 0;
    border: 3px groove grey;
    border-radius: 3px;
    box-sizing: border-box;
}

.fight_selector label {
    margin-top: 10px;
}

.selected_fight {
    margin-top: 20px;
    background-color: #606060;
    border-radius: 3px;
    padding: 2px;
}

.vs {
    padding: 10px;
    font-size: 20px;
}

.athlete_stats {
    min-width: 170px;
    min-height: 90px;
    padding: 3px;
    color: white;
    background-color: #333;
    border: 3px groove #00b7e6;
    box-sizing: border-box;
}

.bet_portfolio {
    float: left;
    margin: 5px;
    margin-top: 60px;
    padding: 15px;
    padding-top: 0px;
    border: 3px groove grey;
    border-radius: 3px;
    box-sizing: border-box;
}

.bet {
    color: white;
    background-color: #333;
    margin: 5px;
    padding: 8px;
    min-width: 300px;
    height: 53px;
    border: 2px groove #00b7e6;
    box-sizing: border-box;
}
