@(fights: List[String])

@main("Analyze your bets") {

  <div class='fight_selector'>
    <h2>Fight Selector</h2>
    <label>
      Select an event<br>
      <input list="events" id="event">
    </label>
    <datalist id="events"></datalist>
    <label>
      Select a fight<br>
      <input list="fights" id="fight" oninput="document.getElementById('selected_fight').value=this.value;">
    </label>
    <datalist id="fights">
      @for(fight <- fights) {
        <option value="@fight"></option>
      }
    </datalist>
    <input id="selected_fight" size="35" draggable="true" ondragstart="drag(event)">
  </div>
  <div class='bet_portfolio'>
    <h2>Fight Portfolio</h2>
    <div class="bet" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  </div>

}
