@()

@main("Analyze your bets") {

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BetAnalyzer</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="selector_and_portfolio">
    <div class="col-md-4 container fight_selector_container">
      <div class='fight_selector'>
        <label>
          Select an event<br>
          <select class="form-control" id="event" onchange="populateFights(this.value)"></select>
        </label>
        <label>
          Select a fight<br>
          <select class="form-control" id="fight" onchange="populateAthleteStats(this.value)"></select>
        </label>
        <div id='selected_fight' class='selected_fight'>
          <table class="table table-condensed">
            <tr>
              <td>
                <div id='athlete1_stats' class='athlete_stats'>
                  <span class="fullname"></span><br>
                  <span class="record"></span><br>
                  <span class="weight"></span><br>
                  <span class="height"></span><br>
                  <span class="odds"></span>
                </div>
              </td>
              <td class='vs vert-align' valign="middle">
                Vs.
              </td>
              <td>
                <div id='athlete2_stats' class='athlete_stats'>
                  <span class="fullname"></span><br>
                  <span class="record"></span><br>
                  <span class="weight"></span><br>
                  <span class="height"></span><br>
                  <span class="odds"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8 container bet_portfolio_container">
      <div class="bet_portfolio">
        <label>
          Fight Portfolio<br>
        </label>
        <table class="table table-striped table-condensed table-bordered" id="portfolio_table">
          <thead class="thead-inverse">
            <tr>
              <th>Athlete</th>
              <th>Moneyline</th>
              <th>Implied Prob.</th>
              <th>Wager</th>
              <th>Win Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr class="athlete_fight_row">
              <td class="athlete_name">McGoat</td>
              <td class="moneyline">-520</td>
              <td class="implied_prob"></td>
              <td class="wager">
                <div>
                  <span class="input-group-addon">$</span>
                  <input type="text" size="5" onchange="updateWinProfit(this)">
                </div>
              </td>
              <td class="win_profit"></td>
            </tr>
            <tr class="athlete_fight_row">
              <td class="athlete_name">RDA</td>
              <td class="moneyline">+381</td>
              <td class="implied_prob"></td>
              <td class="wager">
                <div>
                  <span class="input-group-addon">$</span>
                  <input type="text" size="5" onchange="updateWinProfit(this)">
                </div>
              </td>
              <td class="win_profit"></td>
            </tr>
          </tbody>
        </table>
        <button type="button" id="add_fight_button" class="btn btn-primary btn-lg btn-block" onclick="addFightToPortfolio()">
          Add fight to portfolio
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-7 container summary_container">
    <div class="portfolio_summary">
      <table class="table table-condensed summary_table" >
        <tbody>
          <tr>
            <td>Total bet</td>
            <td>$520</td>
          </tr>
          <tr>
            <td>Max profit</td>
            <td>$899</td>
          </tr>
          <tr>
            <td>Expected profit</td>
            <td>-$57</td>
          </tr>
          <tr>
            <td>Max return</td>
            <td>-78%</td>
          </tr>
          <tr>
            <td>Expected return</td>
            <td>-8.5%</td>
          </tr>
        </tbody>
      </table>
      <div class="probability_distribution">
        <img src="@routes.Assets.versioned("images/distribution.png")" alt="distribution" style="width:360px;height:228px;">
      </div>
    </div>
  </div>

}
