@()

@main("Analyze your bets") {

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BetAnalyzer</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="selector_and_portfolio">
    <div class='col-md-4 container fight_selector_container'>
      <div class='fight_selector'>
        <label>
          Select an event<br>
          <input class="form-control" id="event" type="text" list="events" oninput="populateFights(this.value)">
        </label>
        <datalist id="events"></datalist>
        <label>
          Select a fight<br>
          <input class="form-control" id="fight" type="text" list="fights" oninput="populateAthleteStats(this.value);">
        </label>
        <datalist id="fights"></datalist>
        <div id='selected_fight' class='selected_fight'>
          <table class="table table-condensed">
            <tr>
              <td>
                <div id='athlete1_stats' class='athlete_stats'>
                  <span class="fullname"></span><br>
                  <span class="record"></span><br>
                  <span class="weight"></span><br>
                  <span class="height"></span>
                </div>
              </td>
              <td class='vs vert-align' valign="middle">
                Vs.
              </td>
              <td>
                <div id='athlete2_stats' class='athlete_stats'>
                  <span class="fullname"></span><br>
                  <span class="record"></span><br>
                  <span class="weight"></span><br>
                  <span class="height"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class='col-md-8 container bet_portfolio_container'>
      <div class="bet_portfolio">
        <label>
          Fight Portfolio<br>
        </label>
        <table class="table table-striped table-condensed table-bordered" id="portfolio_table">
          <thead class="thead-inverse">
            <tr>
              <th>Athlete</th>
              <th>Odds</th>
              <th>Implied Prob.</th>
              <th>Wager</th>
              <th>Win Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr class="athlete_fight_row">
              <td class="athlete_name">McGoat</td>
              <td class="odds">-100</td>
              <td class="implied_prob">50.8%</td>
              <td class="wager">
                <div>
                  <span class="input-group-addon">$</span>
                  <input type="text" size="5">
                </div>
              </td>
              <td class="win_profit">$2,000</td>
            </tr>
            <tr class="athlete_fight_row">
              <td class="athlete_name">RDA</td>
              <td class="odds">-140</td>
              <td class="implied_prob">67.8%</td>
              <td class="wager">
                <div>
                  <span class="input-group-addon">$</span>
                  <input type="text" size="5">
                </div>
              </td>
              <td class="win_profit">$700</td>
            </tr>
          </tbody>
        </table>
        <button type="button" id="add_fight_button" class="btn btn-primary btn-lg btn-block" onclick="addFightToPortfolio()">
          Add fight to portfolio
        </button>
      </div>
    </div>
  </div>

}
