@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    @content
    <script src="@routes.Assets.versioned("javascripts/fight.js")"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script>
        $(document).ready(function() {
            var getOrgCall = jsRoutes.controllers.StatsDatabase.getEvents(1);
            $.getJSON(
                getOrgCall.url,
                function(data, textStatus, xhr) {
                    if(textStatus == "success") {
                        $.each(data, function(index, value) {
                            $("#events").append("<option value='" + value["name"] + "'></option>");
                        });
                    }
                    if(textStatus == "error") {
                        alert("Error: " + xhr.status + ": " + xhr.statusText);
                    }
                }
            );
        });
    </script>
  </body>
</html>
